<form action="/todos/{{todo._id}}?_method=DELETE" method="POST">
  <div class="mt-5 input-group">
    <div class="input-group-text">
      <input
        type="checkbox"
        class="form-check-input mt-0"
        name="isDone"
        {{checked todo.isDone}}
        disabled
      />
    </div>
    <input
      class="form-control"
      type="text"
      placeholder="name"
      name="name"
      value="{{todo.name}}"
      disabled
    />
  </div>
  <div class="mt-5 text-center">
    <a class="btn btn-success" href="/todos/{{todo._id}}/edit">
      <i class="fa-solid fa-pen-to-square"></i>
    </a>
    <button
      class="btn btn-danger mx-3"
      type="submit"
      onclick="return confirm(`Are you sure you want to delete '{{todo.name}}?'`)"
    >
      <i class="fa-solid fa-trash"></i>
    </button>
    <a href="/">Back</a>
  </div>
</form>